[Unit]
Description=Command Mode
DefaultDependencies=no
Conflicts=shutdown.target
After=sysinit.target systemd-user-sessions.service
Requires=systemd-user-sessions.service
Before=shutdown.target

[Service]
Environment=HOME=/root
WorkingDirectory=/root
ExecStart=-/bin/sh -c "/cmd; /bin/systemctl --job-mode=fail --no-block poweroff"
Type=idle
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes
